# Project #
###########
scripts/CDN/*
!scripts/CDN/.gitkeep
scripts/DBC/generated/*
!scripts/DBC/generated/.gitkeep
scripts/DBC/parsed/AzeritePowerWithItems.json

# Project dependencies #
########################
__pycache__/

# IDE #
#######
.idea/*
.vscode/*
