# Project #
###########
CDN/*
!CDN/.gitkeep
DBC/generated/*
!DBC/generated/.gitkeep
DBC/parsed/AzeritePowerWithItems.json

# Project dependencies #
########################
__pycache__/

# IDE #
#######
.idea/*
.vscode/*
